body {
	font-family: 'Playfair Display', serif;
	background-color: #F8F0E3;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

h1 {
	font-family: 'Outfit', sans-serif;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

h4 {
	font-family: 'Outfit', sans-serif;
}

iframe {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

img {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

figcaption {
	font-family: 'Outfit', sans-serif;
	font-size: 12px;
	width: 88%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding-bottom: 20px;
}

h6 {
	font-family: 'Outfit', sans-serif;
	font-size: 12px;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#video {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
